*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.a
*.i
*.d
tools/kconfig-frontends/kconfig-mconf
cconfig.h
GPUCache

#cscope files
cscope.*
ncscope.*

#ctag files
tags

/bsp/stm32/stm32f411-weact-MiniF4
/bsp/stm32/stm32f412-st-nucleo
/bsp/stm32/stm32f427-robomaster-a
/bsp/stm32/stm32f429-armfly-v6
/bsp/stm32/stm32f429-atk-apollo
/bsp/stm32/stm32f429-fire-challenger
/bsp/stm32/stm32f429-st-disco
/bsp/stm32/stm32f446-st-nucleo
/bsp/stm32/stm32f469-st-disco
/bsp/stm32/stm32f746-st-disco
/bsp/stm32/stm32f767-atk-apollo
/bsp/stm32/stm32f767-fire-challenger
/bsp/stm32/stm32f767-st-nucleo
/bsp/stm32/stm32f769-st-disco
/bsp/stm32/stm32g071-st-nucleo
/bsp/stm32/stm32g431-st-nucleo
/bsp/stm32/stm32h743-atk-apollo
/bsp/stm32/stm32h743-st-nucleo
/bsp/stm32/stm32h747-st-discovery
/bsp/stm32/stm32h750-armfly-h7-tool
/bsp/stm32/stm32l4r5-st-nucleo
/bsp/stm32/stm32l4r9-st-eval
/bsp/stm32/stm32l010-st-nucleo
/bsp/stm32/stm32l053-st-nucleo
/bsp/stm32/stm32l412-st-nucleo
/bsp/stm32/stm32l432-st-nucleo
/bsp/stm32/stm32l452-st-nucleo
/bsp/stm32/stm32l475-atk-pandora
/bsp/stm32/stm32l475-st-discovery
/bsp/stm32/stm32l476-st-nucleo
/bsp/stm32/stm32l496-ali-developer
/bsp/stm32/stm32l496-st-nucleo
/bsp/stm32/stm32f407-st-discovery
/bsp/stm32/stm32f410-st-nucleo
/bsp/stm32/stm32f411-st-nucleo
